<html>
<head>
	{% load staticfiles %}
	<title>Weekend Plans</title>

	<!-- Don't suck at default zoom level. -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">

    <!-- Boostrap -->
	<link href=
	"{% static "bootstrap/css/bootstrap-responsive.css" %}"
		rel="stylesheet">

	<!-- Weekend plan app specific CSS -->
	<link href="{% static "weekend.css" %}" rel="stylesheet">

	<!-- JQuery UI Date Picker -->
	<link rel="stylesheet" 
		href="{% static "jquery-ui-1.11.1/jquery-ui.css" %}">
	<script src=
		"{% static "jquery/jquery-1.11.1.js" %}"></script>
	<script src=
		"{% static "jquery-ui-1.11.1/jquery-ui.js" %}"></script>

	<script>
		// Bind a Date Picker to any control named id_completed
		 $(function() {
			 $( "#id_completed" ).datepicker();
		 });
	</script>

	<!-- List filter -->
	<script src=
		"{% static "list.js" %}"></script>

</head>
<body>
	<h1>{% block title %}{% endblock %}</h1>
	{% block content %}{% endblock %}
	{% block nav %}
	<nav class='navbar' role='navigation'>	
	<div class='container-fluid'>
	<ul class='nav navbar-nav'>
		<li><a href="/">Weekend Plans</a></li>
		<li><a href="/completed">Completed Plans</a></li>
	</ul>
	</div>
	</nav>
	{% endblock %}
</body>
</html>
