<!DOCTYPE html>
<html lang="en" content="text/html">
<head>
<meta charset="UTF-8">
	{% load staticfiles %}
	<title>Weekend Plans</title>

	<!-- Don't suck at default zoom level. -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">


    <!-- JQuery for JQueryUI and Bootstrap-->

	<script src=
		"{% static "jquery/jquery-1.11.1.js" %}"></script>

    <!-- Boostrap -->

	<link href=
	"{% static "bootstrap/css/bootstrap.css" %}"
		rel="stylesheet">

	<link href=
	"{% static "bootstrap/css/bootstrap-theme.css" %}"
		rel="stylesheet">

	<script src=
		"{% static "bootstrap/js/bootstrap.js" %}"></script>

	<!-- Weekend plan app specific CSS -->
	<link href="{% static "weekend.css" %}" rel="stylesheet">

	<!-- JQuery UI for Date Picker -->
	<link rel="stylesheet" 
		href="{% static "jquery-ui-1.11.1/jquery-ui.css" %}">
	<script src=
		"{% static "jquery-ui-1.11.1/jquery-ui.js" %}"></script>

	<script>
		// Bind a Date Picker to any control named id_completed
		 $(function() {
			 $( "#id_completed" ).datepicker();
		 });
	</script>

	<!-- List filter -->
	<script src=
		"{% static "list.js" %}"></script>

</head>
<body>
<!-- Start of Navigation -->
{% block nav %}
<nav class="navbar navbar-default" role="navigation">
<div>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'list_plans' %}">Weekend Plans</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'create_plan' %}">Create a plan</a></li>
        <li><a href="{% url 'completed_plans' %}">Completed plans</a></li>
        <li><a href="shoppping">Shopping</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}
<!-- End of Navigation -->

<h1>{% block title %}{% endblock %}</h1>
{% block content %}{% endblock %}


</body>
</html>
