{% extends "base_generic.html" %}
{% block title %}Completed Weekend Plans{% endblock %}
{% block content %}


<!-- Automatic List sorter -->
<div id="plan-list">
<p> Filter your plans: <input class="search" /></p>
</div>

<!-- Log Form -->
<h2> Log a completed plan. </h2> 
<div>
<form method="POST" action="{% url 'create_plan' %}">
{% csrf_token %}
<label for="id_what_to_do">What to do:</label> <input id="id_what_to_do" maxlength="200" name="what_to_do" type="text" />
<input type=hidden id="id_completed" name="completed" value="{{ today }}"/>
<input type="submit" class="btn btn-primary" value="Log">
</form>
</div>

<!-- Another list - Complete plans -->
<h2> Completed plans </h2>
{% if weekendplan_list %}
<ul class='list'>
{% for weekendplan in weekendplan_list %}
<li id='plan-item'>
<a href="{% url 'edit_plan' weekendplan.pk %}">
<span class='when'>
		{{ weekendplan.completed }}</span> - <span class='what'>{{ weekendplan.what_to_do }}</span>
</a>
</li>
{% endfor %}

{% if is_paginated %}
	<div class="pagination">
		<span class="page-links">
			{% if page_obj.has_previous %}
			<a href="{% url 'completed_plans' %}?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}
			<span class="page-current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
			<a href="{% url 'completed_plans' %}?page={{ page_obj.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>
{% endif %}

{% endif %}
</div>

<script>
var options = {
	valueNames: [ 'what', 'when' ]
};

var hackerList = new List('plan-list', options);
</script>

{% endblock %}
