{% extends "base_generic.html" %}
{% block title %}Shopping Plan{% endblock %}
{% block content %}


<!-- Automatic List sorter -->

<div id="plan-list">
<p> Filter your items: <input class="search" /></p>

<!-- Add Form -->
<h2> Add items:  </h2>
<div>
	<form method="POST" action="">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" class="btn btn-primary" value="Add">
</form>
</div>

<h2> Shopping Plan</h2>
{% if plantobuy_list %}
<ul class='list'>
{% for plan in plantobuy_list %}
<li id='plan-item'>
<span class='when'>{{ plan.added }}</span> - <span class='what'>{{ plan.name }}</span>
<span>
<a href="{% url 'shopping_edit' plan.pk %}"><button type='button'>Modify</button></a>
</span
<span>
<form method="POST" action="{% url 'shopping_list' weekendplan.pk %}">
{% csrf_token %}
<input type="submit" name="action" value="Bought"></input>
</form>
</span>

</li>
{% endfor %}
{% endif %}
</ul>
</div>

<script>
var options = {
	valueNames: [ 'what', 'when' ]
};

var hackerList = new List('plan-list', options);
</script>

{% endblock %}
